server.port=${PORT:8080}

max.token=${MAX_TOKEN}
max.api.url=https://platform-api2.max.ru
max.bot.name=bot_name

management.endpoints.web.exposure.include=health,info
management.endpoint.health.show-details=always

logging.level.reactor.netty.http.client=INFO
logging.level.reactor.netty.http.server=INFO
logging.level.org.springframework.web.reactive.function.client=INFO
logging.level.reactor.netty=INFO

rospatent.token=${ROSPATENT_TOKEN}
rospatent.url=https://searchplatform.rospatent.gov.ru/patsearch/v0.2/search

spring.mvc.async.request-timeout=30000

spring.data.redis.host=${REDIS_HOST}
spring.data.redis.port=${REDIS_PORT}